# Don't add IDE files to the repo.
.vscode/
.vs/

# Don't add build folder to the repo.
build/
test-game/
logs/

# Don't add local logs to repo.
log/

# Don't add local python env to repo.
env/

# Windows gitignore - don't add local CMakeSettings
src/.vs
src/CMakeSettings.json
*.vs

__pycache__

CMakeCache.txt